@import "../../../styles.scss";

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  background-color: $dark_blue;
  overflow: hidden;

  .title-container {
    display: flex;
    width: 100%;
    gap: 50px;

    > h2 {
      font-size: 90px;
      font-weight: 700;
      line-height: 108px;
    }
  }

  .contact-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px 100px;

    .contact-left {
      width: 50%;
      > h3 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
      }

      .contact-left-content {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;

        span {
          font-weight: 700;
        }
      }
    }

    .purple-shadow-footer-container {
      position: absolute;
      bottom: -405px;
      left: -360px;
      z-index: 8888;

      > img {
        width: 747px;
        height: 902px;
        transform: rotate(-111deg);
      }
    }

    .contact-right {
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        .inputs-container {
          width: 617px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          > input,
          textarea {
            font-family: "Poppins", "Helvetica Neue", sans-serif;
            width: 100%;
            padding: 15px 25px;
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            border: 1px solid $purple;
            border-radius: 10px;
            background-color: transparent;
            cursor: pointer;
            &:hover {
              border: 1px solid $green;
            }

            &::placeholder {
              color: white;
            }

            &:focus {
              outline: none;
              border: 1px solid red;
            }
          }
        }

        .checkbox-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          input[type="checkbox"] {
            width: 24px;
            height: 24px;

            accent-color: $dark_blue;
            // mix-blend-mode: multiply;
            //outline: 2px auto $green;
            // &:checked {
            //   background: url("../../../assets/img/check.svg") no-repeat center /
            //     75% auto;
            // }
          }

          label {
            font-size: 14px;
            font-weight: 400px;
            line-height: 16.8px;

            span {
              color: $purple;
              cursor: pointer;
            }
          }
        }

        .button-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            color: white;
            font-size: 23px;
            font-weight: 400;
            line-height: 27.6px;
            border-radius: 10px;
            border: none;
            padding: 15px 30px;
            background-color: $green;
            transition: transform 500ms ease-in-out;

            &:hover {
              background-color: $purple;
              transform: scale(1.2);
            }
          }
        }
      }
      .scroll-up-btn-container {
        margin-top: 55px;
        width: 617px;
        display: flex;
        justify-content: flex-end;

        .scroll-up-btn {
          width: 39px;
          height: 39px;
          border: 2px solid white;
          border-radius: 41px;
          background: $dark_blue;
          ng-icon {
            color: white;
            font-size: 20px;
          }

          &:hover {
            border: 2px solid $green;
            ng-icon {
              color: $green;
            }
          }
        }
      }
    }
  }
}

.disabled-button {
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  background-color: $grey;
}

// input.ng-invalid.ng-touched,
// textarea.ng-invalid.ng-touched{
//     border: 1px solid red;
// }
