<section id="contact">
    <div class="title-container">
        <img src="../../../assets/img/contact-line-one.svg" alt="">
        <h2>Contact</h2>
    </div>
    <div class="contact-container">
        <div class="contact-left">
            <h3>Got a problem to solve?</h3>
            <div class="contact-left-content">
                <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and
                    contributing to
                    your projects with my work.</p>
                <p>Need a Frontend developer? <span>Contact me!</span></p>
            </div>
        </div>
        <div class="purple-shadow-footer-container">
            <img src="assets/img/purple-shadow-footer.svg" alt="Purple Shadow">
        </div>
        <div class="contact-right">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="inputs-container">
                    <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text"
                        placeholder="Your name" required>
                    @if (!name.valid && name.touched) {
                    <img class="exclamation-name" src="../../../assets/img/exclamation-mark.svg" alt="">
                    <p>Your name is required</p>

                    }
                    <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email"
                        placeholder="Your email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    @if (!email.valid && email.touched) {
                    <img class="exclamation-email" src="../../../assets/img/exclamation-mark.svg" alt="">
                    <p>Your email is required</p>

                    }
                    <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="" cols="30"
                        rows="10" placeholder="Your message" required></textarea>
                    @if (!message.valid && message.touched) {
                    <img class="exclamation-message" src="../../../assets/img/exclamation-mark.svg" alt="">
                    <p>Your message is empty</p>
                    }
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="privacy" name="privacy" value="agree">
                    <label for="privacy">I've read the <span>privacy policy</span> and agree to the processing of my
                        data as outlined.</label><br>
                </div>
                <div class="button-container">
                    <button type="submit">Send message :&#41;</button>
                </div>
            </form>
            <div class="scroll-up-btn-container">
                <a href="#hero" class="scroll-up-btn"><ng-icon name="heroArrowSmallUp"></ng-icon></a>
            </div>
        </div>
    </div>
</section>