<section>
    <div class="title-container">
        <img src="../../../assets/img/contact-line-one.svg" alt="">
        <h2>Contact</h2>
    </div>
    <div class="contact-container">
        <div class="contact-left">
            <h3>Got a problem to solve?</h3>
            <div class="contact-left-content">
                <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and
                    contributing to
                    your projects with my work.</p>
                <p>Need a Frontend developer? <span>Contact me!</span></p>
            </div>
        </div>
        <div class="purple-shadow-footer-container">
            <img src="assets/img/purple-shadow-footer.svg" alt="Purple Shadow">
        </div>
        <div class="contact-right">
            <form>
                <div class="inputs-container">
                    <input type="text" placeholder="Your name" required>
                    <input type="email" placeholder="Your email" required>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Your message" required></textarea>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="privacy" name="privacy" value="agree">
                    <label for="privacy">I've read the <span>privacy policy</span> and agree to the processing of my
                        data as outlined.</label><br>
                </div>
                <div class="button-container">
                    <button type="submit" disabled>Send message :&#41;</button>
                </div>
            </form>
            <div class="scroll-up-btn-container">
                <button type="button" class="scroll-up-btn"><ng-icon name="heroArrowSmallUp"></ng-icon></button>
            </div>
        </div>
    </div>
</section>