@import "../../../styles.scss";

section {
  position: relative;
  height: auto;
  background-color: $dark_blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: clip;
  z-index: 8888;

  .portfolio-header-container {
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .portfolio-header-title {
      display: flex;
      align-items: center;
      gap: 50px;

      > h2 {
        margin: 10px 0px;
        font-size: 90px;
        line-height: 108px;
        font-weight: 700;
      }
    }
    .subtitle-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      > h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
      }
    }
  }

  .portfolio-purple-shadow-container {
    position: absolute;
    top: 925px;
    right: 690px;
    overflow: hidden;
    z-index: 0;

    > img {
      width: 736px;
      height: 848px;
    }
  }

  .portfolio-content {
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin-top: 200px;

    .portfolio-green-shadow-container {
      position: absolute;
      bottom: -300px;
      left: 870px;
      z-index: -1;

      > img {
        width: 736px;
        height: 848px;
        transform: rotate(75deg);
      }
    }
  }
}
