<section id="portfolio">
    <div class="portfolio-header-container">
        <div class="portfolio-header-title">
            <div class="first-line">
                <div class="f-line"></div>
            </div>
            <h2>Portfolio</h2>
            <div class="second-line">
                <div class="t-line"></div>
            </div>
        </div>
        <div class="subtitle-container">
            <h4>Explore a selection of my work here - Interact with projects to see my skills in action.</h4>
        </div>
    </div>
    <div class="portfolio-purple-shadow-container">
        <img src="../../../assets/img/portfolio-purple-shadow.svg" alt="Purple Shadow">
    </div>

    <div class="portfolio-content">
        <app-portfolio-item *ngFor="let project of projects; let i = index" [srProject]="project" [srIndex]="i" />
        <div class="portfolio-green-shadow-container">
            <img src="../../../assets/img/green-shadow-canva-design.svg" alt="Green Shadow">
        </div>
    </div>
</section>