<section>
    <div class="portfolio-header-container">
        <div class="portfolio-header-title">
            <div class="first-line">
                <img src="assets/img/line-portfolio-first.svg" alt="">
            </div>
            <h2>Portfolio</h2>
            <div class="second-line">
                <img src="assets/img/line-portfolio-second.svg" alt="">
            </div>
        </div>
        <div class="subtitle-container">
            <h4>Explore a selection of my work here - Interact with projects to see my skills in action.</h4>
        </div>
    </div>
    <div class="portfolio-content">
        <app-portfolio-item *ngFor="let project of projects; let i = index" [srProject]="project" [srIndex]="i" />
    </div>
</section>