<section id="about" class="about-container" *transloco="let t; read:'about'">
    <div class="about-left-container">
        <h2>{{t("title")}}</h2>
        <div class="about-left-text">
            <div class="about-main-text">
                <p>{{t("mainText")}}</p>
            </div>
            <div class="about-subtext-container">
                <img src="assets/img/bulb-desktop.svg" alt="">
                <p>{{t("subTextOne")}}</p>
            </div>
            <div class="about-subtext-container">
                <img src="assets/img/puzzle-desktop.svg" alt="">
                <p>{{t("subTextTwo")}}</p>
            </div>
        </div>
    </div>
    <div class="purple-shadow">
        <img src="../../../assets/img/purple-shadow.svg" alt="">
    </div>
    <div class="about-right-container" data-aos="fade-left" data-aos-duration="1500">
        <img class="about-ellipse" src="assets/img/about-ellipse.svg" alt="">
        <div class="about-img-container">
            <img src="assets/img/hero-about.svg" alt="">
        </div>
        <img class="about-green-line" src="assets/img/about-green-line.svg" alt="">
    </div>
</section>