@import "../../../styles.scss";

.about-container {
  position: relative;
  z-index: 2;
  padding: 50px 15px 15px 15px;
  background-color: $dark_blue;
  color: white;
  @include dFlex($g: 20px);
  overflow-x: clip;

  .about-left-container {
    width: 80%;
    height: auto;
    z-index: 3;

    > h2 {
      font-size: 90px;
      font-weight: 700;
      line-height: 100px;

      @media (max-width: 1400px) {
        font-size: 60px;
        line-height: 64px;
      }

      @media (max-width: 1200px) {
        font-size: 48px;
        line-height: 54px;
      }
    }

    .about-left-text {
      .about-main-text {
        > p {
          font-size: 16px;
          font-weight: 400;
          line-height: 19.2px;
        }
      }

      .about-subtext-container {
        @include dFlex($g: 35px);
        padding: 8px;
      }
    }
  }

  .about-right-container {
    display: flex;

    .about-ellipse {
      position: absolute;
    }

    .about-img-container {
      > img {
        border-radius: 50%;
      }
    }

    @media (max-width: 1140px) {
      display: none;
    }
  }

  .purple-shadow {
    position: absolute;
    right: -450px;
    top: -111px;
    z-index: 1;
    > img {
      width: 80%;
    }
  }
}
