<section id="about" class="about-container" appFadeIn>
    <div class="about-left-container">
        <h2>About me</h2>
        <div class="about-left-text">
            <div class="about-main-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident nemo
                    voluptatum corporis officiis explicabo quibusdam architecto, iure possimus repellat nisi modi animi
                    illum molestias magnam consequuntur eaque iusto earum impedit?</p>
            </div>
            <div class="about-subtext-container">
                <img src="assets/img/bulb-desktop.svg" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id repellat aut quo, fuga amet at,
                    laudantium </p>
            </div>
            <div class="about-subtext-container">
                <img src="assets/img/puzzle-desktop.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis blanditiis ipsa eius quam sit
                    consequuntur?</p>
            </div>
        </div>
    </div>
    <div class="purple-shadow">
        <img src="../../../assets/img/purple-shadow.svg" alt="">
    </div>
    <div class="about-right-container">
        <img class="about-ellipse" src="assets/img/about-ellipse.svg" alt="">
        <div class="about-img-container">
            <img src="assets/img/hero-about.svg" alt="">
        </div>
        <img class="about-green-line" src="assets/img/about-green-line.svg" alt="">
    </div>

</section>