<section>
    <div class="left-section">
        <img src="../../../../assets/img/join-photo.svg" alt="">
    </div>
    <div class="right-section">
        <h3>Title</h3>
        <p class="technologys">Angular | TypeScript | HTML | CSS | Firebase </p>
        <p class="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and
            dropfunctions, assign users and categories. </p>
            <div class="buttons-container">
                <button class="life-test-btn">Life test</button>
                <button class="github-btn">Github</button>
            </div>
    </div>
</section>