<section [ngClass]="index % 2 != 0 ? 'reverse-item' : ''">
    <div class="left-section">
        <img [src]="project.imgPath" alt="">
    </div>
    <div class="right-section" [ngClass]="index % 2 != 0 ? 'reverse-right-section' : ''">
        <h3>{{project.title}}</h3>
        <p class="technologys">Angular | TypeScript | HTML | CSS | Firebase </p>
        <p class="description">{{project.description}}</p>
        <div class="buttons-container">
            <a href="#" class="life-test-btn">Life test</a>
            <a href="#" class="github-btn">Github</a>
        </div>
    </div>
</section>