@import "../../../styles.scss";

header {
  display: flex;
  flex-direction: column;
  background-color: $dark_blue;
  color: white;
  transition: opacity 1s ease-out;
  overflow: hidden;

  &.visible {
    opacity: 1;
  }

  .hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 55px;

    @media (max-width: 1140px) {
      flex-direction: column;
      padding-top: 145px;
    }

    @media only screen and (max-width: 1025px) and (max-height: 730px) {
      padding-top: 25px;
    }

    @media only screen and (max-width: 913px) and (max-height: 1369px) {
      padding-top: 125px;
    }

    @media only screen and (max-width: 913px) and (max-height: 730px) {
      padding-top: 25px;
    }

    @media only screen and (max-width: 821px) and (max-height: 1181px) {
      padding-top: 110px;
    }

    @media only screen and (max-width: 821px) and (max-height: 730px) {
      padding-top: 25px;
    }

    @media only screen and (max-width: 541px) and (max-height: 721px) {
      padding-top: 15px;
    }

    @media only screen and (max-width: 431px) and (max-height: 933px) {
      padding-top: 120px;
    }

    @media only screen and (max-width: 391px) and (max-height: 846px) {
      padding-top: 105px;
    }

    @media only screen and (max-width: 376px) and (max-height: 668px) {
      padding-top: 85px;
      height: auto;
    }

    .hero-img-container {
      .hero-shadows {
        position: absolute;
        z-index: 0;
        left: -10px;

        @media (max-width: 870px) {
          width: 100%;
        }
      }

      .hero-photo {
        position: relative;
        top: 70px;

        @media (max-width: 675px) {
          width: 100%;
        }
      }
    }

    .hero-content-container {
      position: relative;
      z-index: 9999;
      @include dFlex();
      flex-direction: column;

      .hero-text-container {
        height: 173px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;

        >h4 {
          transform: rotate(-90deg);
          margin: 0px;
          font-size: 54px;
          font-weight: 400;

          @media (max-width: 1400px) {
            font-size: 30px;
          }

          @media (max-width: 520px) {
            font-size: 27px;
          }

          @media (max-width: 431px) {
            font-size: 24px;
          }

          @media (max-width: 361px) {
            font-size: 19px;
          }
        }

        .hero-title-container {
          @include dFlex();
          flex-direction: column;
          gap: 0px;

          h1 {
            margin: 0px;
            font-size: 70px;
            font-weight: 700;
            line-height: 90px;

            @media (max-width: 1400px) {
              font-size: 48px;
              line-height: 50px;
            }

            @media (max-width: 520px) {
              font-size: 42px;
            }

            @media (max-width: 431px) {
              font-size: 33px;
              line-height: 44px;
            }

            @media (max-width: 361px) {
              font-size: 27px;
            }
          }

          h3 {
            margin: 0px;
            font-size: 54px;
            font-weight: 400;
            line-height: 50px;
            color: $purple;

            @media (max-width: 1400px) {
              font-size: 31px;
              line-height: 26px;
            }

            @media (max-width: 520px) {
              font-size: 27px;
            }

            @media (max-width: 431px) {
              font-size: 24px;
            }

            @media (max-width: 361px) {
              font-size: 19px;
            }
          }
        }

        @media (max-width: 675px) {
          height: auto;
        }
      }

      .hero-btn-container {
        >a {
          text-decoration: none;

          >button {
            padding: 15px 30px;
            border-radius: 10px;
            border: none;
            font-size: 23px;
            font-weight: 400;
            line-height: 27.6px;
            background-color: $green;
            color: white;
            transition: transform 500ms ease-in-out;

            &:hover {
              background-color: $purple;
              transform: scale(1.2);
              cursor: pointer;
            }

            @media (max-width: 675px) {
              padding: 8px 16px;
            }
          }
        }
      }

      // @media (max-width: 1141px) {
      //   margin-top: -375px;
      // }

      @media only screen and (min-width: 684px) and (max-width: 1141px) {
        margin-top: -250px;
      }

      @media only screen and (min-width: 820px) and (min-height: 1180px) {
        margin-top: 0px;
      }

      @media only screen and (min-width: 1024px) and (min-height: 1366px) {
        margin-top: 0px;
      }

      @media only screen and (min-width: 542px) and (max-width: 683px) {
        margin-top: -150px;
        gap: 30px;
      }

      @media only screen and (max-width: 541px) and (max-height: 721px) {
        margin-top: -115px;
        gap: 23px;
      }

      @media (max-width: 431px) {
        gap: 30px;
      }
    }
  }

  .hero-footer {
    position: relative;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-links-container {
      @include dFlex($jc: flex-start, $g: 42px);

      .hero-vector-footer {
        width: 100px;
        height: 4px;
        background-color: $purple;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        @media (max-width: 431px) {
          width: 64px;
        }
      }

      .hero-link {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }

      .hero-link-email {
        text-decoration: none;
        color: white;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        cursor: pointer;

        @media (max-width: 675px) {
          display: none;
        }
      }

      @media (max-width: 361px) {
        gap: 30px;
      }
    }

    .scroll-btn-container {
      transform: rotate(90deg);
      margin-bottom: 125px;

      .scroll-down-btn {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 23px;
        font-weight: 400;
        line-height: 23px;
        display: flex;
        gap: 10px;
        animation: move 2s ease infinite;

        img {
          transform: rotate(-90deg);
        }

        @media (max-width: 821px) {
          display: none;
        }
      }
    }

    @media (max-width: 1024px) {
      margin: 0;
    }

    @media (min-width: 1141px) {
      top: -160px;
    }

    @media only screen and (max-width: 1141px) and (max-height: 730px) {
      top: -100px;
    }

    @media (max-width: 431px) {
      margin: 0;
    }

    @media only screen and (max-width: 376px) and (max-height: 668px) {
     
      top: 0px;
    }
  }

  .vector-bottom-container {
    position: absolute;
    top: 230px;
    left: -5px;
    right: 0;
    z-index: 1;

    >img {
      width: 100%;
    }

    @media (min-width: 1765px) {
      top: 188px;
    }

    @media (max-width: 1500px) {
      top: 268px;
    }

    @media (max-width: 1400px) {
      top: 365px;
    }

    @media (max-width: 1140px) {
      top: 475px;
    }

    @media (max-width: 880px) {
      top: 527px;
    }

    @media (max-width: 463px) {
      top: 450px;
    }

    @media (max-width: 376px) {
      top: 400px;
    }
  }

  @keyframes move {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateX(-30px);
    }

    60% {
      transform: translateX(-15px);
    }
  }

  @media (max-width: 1141px) {
    height: 100vh;
  }
}