@import "../../../styles.scss";

header {
  display: flex;
  flex-direction: column;
  background-color: $dark_blue;
  color: white;
  padding-top: 80px;

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1140px) {
      flex-direction: column;
    }

    .hero-img-container {
      .hero-shadows {
        position: absolute;
        z-index: 0;
        left: -10px;
        top: 150px;

        @media (max-width: 870px) {
          width: 100%;
        }
      }

      .hero-photo {
        position: relative;

        @media (max-width: 675px) {
          width: 100%;
        }
      }
    }

    .hero-content-container {
      z-index: 9999;
      @include dFlex();
      flex-direction: column;

      .hero-text-container {
        height: 173px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;

        >h4 {
          transform: rotate(-90deg);
          margin: 0px;
          font-size: 54px;
          font-weight: 400;

          @media (max-width: 1400px) {
            font-size: 30px;
          }

          @media (max-width: 520px) {
            font-size: 27px;
          }

          @media (max-width: 431px) {
            font-size: 24px;
          }

          @media (max-width: 361px) {
            font-size: 19px;
          }
        }

        .hero-title-container {
          @include dFlex();
          flex-direction: column;
          gap: 0px;

          h1 {
            margin: 0px;
            font-size: 70px;
            font-weight: 700;
            line-height: 90px;

            @media (max-width: 1400px) {
              font-size: 48px;
              line-height: 50px;
            }

            @media (max-width: 520px) {
              font-size: 42px;
            }

            @media (max-width: 431px) {
              font-size: 33px;
              line-height: 44px;
            }

            @media (max-width: 361px) {
              font-size: 27px;
            }
          }

          h3 {
            margin: 0px;
            font-size: 54px;
            font-weight: 400;
            line-height: 50px;
            color: $purple;

            @media (max-width: 1400px) {
              font-size: 31px;
              line-height: 26px;
            }

            @media (max-width: 520px) {
              font-size: 27px;
            }

            @media (max-width: 431px) {
              font-size: 24px;
            }

            @media (max-width: 361px) {
              font-size: 19px;
            }
          }
        }
      }

      >a {
        text-decoration: none;
        color: white;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        background-color: $green;
        transition: transform 500ms ease-in-out;

        &:hover {
          background-color: $purple;
          transform: scale(1.2);
        }
      }
    }
  }

  .hero-footer {
    position: relative;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-links-container {
      @include dFlex($jc: flex-start, $g: 42px);

      .hero-vector-footer {
        width: 100px;
        height: 4px;
        background-color: $purple;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        @media (max-width: 431px) {
          width: 64px;
        }
      }

      .hero-link {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }

      .hero-link-email {
        text-decoration: none;
        color: white;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        cursor: pointer;

        @media (max-width: 675px) {
          display: none;
        }
      }

      @media (max-width: 361px) {
        gap: 30px;
      }
    }

    .scroll-btn-container {
      transform: rotate(90deg);
      margin-bottom: 125px;

      .scroll-down-btn {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 23px;
        font-weight: 400;
        line-height: 23px;
        display: flex;
        gap: 10px;

        img {
          transform: rotate(-90deg);
        }

        @media (max-width: 821px) {
          display: none;
        }
      }
    }
  }

  .vector-bottom-container {
    position: absolute;
    top: 230px;
    left: -5px;
    right: 0;
    z-index: 1;

    >img {
      width: 100%;
    }

    @media (max-width: 1500px) {
      top: 268px;
    }

    @media (max-width: 1400px) {
      top: 365px;
    }

    @media (max-width: 1140px) {
      top: 475px;
    }

    @media (max-width: 880px) {
      top: 527px;
    }

    @media (max-width: 675px) {
      top: 425px;
    }

    @media (max-width: 463px) {
      top: 347px;
    }
  }
}

.animated {
  animation-name: slideInFromLeft;
  animation-duration: 1s;
  animation-delay: 0.5s;
  /* Optional: Verzögerung der Animation */
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}