@import "../../../styles.scss";

header {
  display: flex;
  flex-direction: column;
  background-color: $dark_blue;
  color: white;
  margin-top: 80px;

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1140px) {
      flex-direction: column;
    }
    .hero-img-container {
      .hero-shadows {
        position: absolute;
        z-index: 0;
        left: -10px;
        top: 150px;

        @media (max-width: 1400px) {
          left: -20px;
        }

        @media (max-width: 431px) {
          width: 400px;
        }
      }

      .hero-photo {
        position: relative;
        @media (max-width: 431px) {
          width: 400px;
        }
      }
    }

    .hero-content-container {
      z-index: 9999;
      @include dFlex();
      flex-direction: column;

      .hero-text-container {
        height: 173px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;

        > h4 {
          transform: rotate(-90deg);
          margin: 0px;
          font-size: 54px;
          font-weight: 400;

          @media (max-width: 1400px) {
            font-size: 30px;
          }

          @media (max-width: 431px) {
            font-size: 26px;
          }
        }

        .hero-title-container {
          @include dFlex();
          flex-direction: column;
          gap: 0px;

          h1 {
            margin: 0px;
            font-size: 70px;
            font-weight: 700;
            line-height: 90px;

            @media (max-width: 1400px) {
              font-size: 48px;
              line-height: 50px;
            }

            @media (max-width: 431px) {
              font-size: 40px;
              line-height: 44px;
            }
          }

          h3 {
            margin: 0px;
            font-size: 54px;
            font-weight: 400;
            line-height: 50px;
            color: $purple;

            @media (max-width: 1400px) {
              font-size: 31px;
              line-height: 26px;
            }

            @media (max-width: 431px) {
              font-size: 26px;
            }
          }
        }
      }

      button {
        color: white;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        background-color: $green;
        transition: transform 500ms ease-in-out;

        &:hover {
          background-color: $purple;
          transform: scale(1.2);
        }
      }
    }
  }

  .hero-footer {
    position: relative;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-links-container {
      @include dFlex($jc: flex-start, $g: 42px);

      .hero-link {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }

      .hero-link-email {
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        cursor: pointer;
      }
    }

    .scroll-btn-container {
      transform: rotate(90deg);
      margin-bottom: 125px;
      .scroll-down-btn {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 23px;
        font-weight: 400;
        line-height: 23px;
        display: flex;
        gap: 10px;

        img {
          transform: rotate(-90deg);
        }

        // &:hover{
        //   cursor: pointer;
        // }
      }
    }
  }

  .vector-bottom-container {
    position: absolute;
    top: 230px;
    left: -5px;
    right: 0;
    z-index: 1;
    > img {
      width: 100%;
    }

    @media (max-width: 1500px) {
      top: 268px;
    }
    @media (max-width: 1400px) {
      top: 365px;
    }

    @media (max-width: 1140px) {
      top: 475px;
    }
  }
}
