<header id="hero">
    <div class="hero-container">
        <div class="hero-img-container">
            <img class="hero-shadows" src="assets/img/hero-photo-shadows.svg" alt="">
            <img class="hero-photo" src="assets/img/hero.svg" alt="">
        </div>
        <div class="hero-content-container">
            <div class="hero-text-container">
                <h4>I am</h4>
                <div class="hero-title-container">
                    <h1 class="hero-title">Velizar Ganchev</h1>
                    <h3 class="hero-subtitle">FRONTEND DEVELOPER</h3>
                </div>
            </div>
            <a href="#contact">Let's talk</a>
        </div>
    </div>
    <div class="hero-footer">
        <div class="hero-links-container">
            <div class="hero-vector-footer"></div>
            <div class="hero-link"><img src="assets/img/github-button.svg" alt=""></div>
            <div class="hero-link"><img src="assets/img/email-button.svg" alt=""></div>
            <div class="hero-link"><img src="assets/img/linkedin-button.svg" alt=""></div>
            <div class="hero-link-email">ganchev.veli&#64;gmail.com</div>
        </div>
        <div class="scroll-btn-container">
            <button class="scroll-down-btn">Scroll down<img src="assets/img/scroll-down-arrow.svg"
                    alt="Scroll Down Arrow"></button>
        </div>
    </div>
    <div class="vector-bottom-container">
        <img src="assets/img/vector-header-bottom.svg" alt="">
    </div>
</header>