<section>
    <div id="privacy-policy">
        <div>
            <h1>{{ "privacy-policy.headline" | transloco }}</h1>
            <h2 id="'content0">
                {{ "privacy-policy.preambleHeadline" | transloco }}
            </h2>
            <p>
                {{ "privacy-policy.preambleDescription" | transloco }}
            </p>

            <h2>{{ "privacy-policy.ContentHeadline" | transloco }}</h2>
            <ul class="index">
                <li>
                    <a href="privacy-policy/#content0">{{
                        "privacy-policy.Content0" | transloco
                        }}</a>
                </li>
                <li>
                    <a href="privacy-policy#content1">{{
                        "privacy-policy.Content1" | transloco
                        }}</a>
                </li>
                <li>
                    <a href="privacy-policy#content2">{{
                        "privacy-policy.Content2" | transloco
                        }}</a>
                </li>
                <li>
                    <a href="privacy-policy#content3">{{
                        "privacy-policy.Content3" | transloco
                        }}</a>
                </li>
                <li>
                    <a href="privacy-policy#content4">{{
                        "privacy-policy.Content4" | transloco
                        }}</a>
                </li>
                <li>
                    <a href="privacy-policy#content5">{{
                        "privacy-policy.Content5" | transloco
                        }}</a>
                </li>
                <li>
                    <a href="privacy-policy#content6">{{
                        "privacy-policy.Content6" | transloco
                        }}</a>
                </li>
                <li>
                    <a href="privacy-policy#content7">{{
                        "privacy-policy.Content7" | transloco
                        }}</a>
                </li>
                <li>
                    <a href="privacy-policy#content8">{{
                        "privacy-policy.Content8" | transloco
                        }}</a>
                </li>
            </ul>
            <h2 id="content1">{{ "privacy-policy.Content1" | transloco }}</h2>
            <p>Velizar Ganchev</p>
            <p>Schlehengrung 5</p>
            <p>59597 Erwitte</p>
            <br />
            <p>
                {{ "imprint.tel" | transloco }}:
                <a href="tel:015901902162">0159-01902162</a>
            </p>
            <p>
                {{ "imprint.mail" | transloco }}:
                <a href="mailto:ganchev.veli@gmail.com">ganchev.veli&#64;gmail.com</a>
            </p>

            <h2 id="content2">{{ "privacy-policy.Content2" | transloco }}</h2>
            <p>
                {{ "privacy-policy.Content2Description" | transloco }}
            </p>
            <h3>{{ "privacy-policy.Content2Section0" | transloco }}</h3>
            <ul>
                <li>{{ "privacy-policy.Content2Section0List" | transloco }}</li>
            </ul>
            <h3>{{ "privacy-policy.Content2Section1" | transloco }}</h3>
            <ul>
                <li>{{ "privacy-policy.Content2Section1List" | transloco }}</li>
            </ul>
            <h3>{{ "privacy-policy.Content2Section2" | transloco }}</h3>
            <ul>
                <li>{{ "privacy-policy.Content2Section2List" | transloco }}</li>
            </ul>
            <h2 id="content3">{{ "privacy-policy.Content3" | transloco }}</h2>
            <p>
                <strong>{{ "privacy-policy.Content3Header0" | transloco }}</strong><br />
                {{ "privacy-policy.Content3Description0" | transloco }}
            </p>
            <ul>
                <li>
                    <strong>{{ "privacy-policy.Content3Header1" | transloco }}</strong><br />
                    {{ "privacy-policy.Content3Description1" | transloco }}
                </li>
            </ul>
            <p>
                <strong>{{ "privacy-policy.Content3Header2" | transloco }}</strong><br />
                {{ "privacy-policy.Content3Description2" | transloco }}
            </p>

            <h2 id="content4">{{ "privacy-policy.Content4" | transloco }}</h2>
            <p>
                {{ "privacy-policy.Content4Description0" | transloco }}
            </p>
            <p>
                {{ "privacy-policy.Content4Description1" | transloco }}
            </p>
            <p>
                {{ "privacy-policy.Content4Description2" | transloco }}
            </p>

            <h2 id="content5">{{ "privacy-policy.Content5" | transloco }}</h2>
            <p>
                {{ "privacy-policy.Content5Description" | transloco }}
            </p>

            <h2 id="content6">{{ "privacy-policy.Content6" | transloco }}</h2>
            <p>
                {{ "privacy-policy.Content6Description0" | transloco }}
            </p>
            <strong>{{ "privacy-policy.Content6Description1" | transloco }}</strong>
            <ul>
                <li>
                    <strong>{{ "privacy-policy.Content6Section0" | transloco }}</strong><br />
                    {{ "privacy-policy.Content6Section0List" | transloco }}
                </li>
                <li>
                    <strong>{{ "privacy-policy.Content6Section1" | transloco }}</strong>
                    <br />
                    {{ "privacy-policy.Content6Section1List" | transloco }}
                </li>
                <li>
                    <strong>{{ "privacy-policy.Content6Section2" | transloco }}</strong><br />
                    {{ "privacy-policy.Content6Section2List" | transloco }}
                </li>
                <li>
                    <strong>{{ "privacy-policy.Content6Section3" | transloco }}</strong><br />
                    {{ "privacy-policy.Content6Section3List" | transloco }}
                </li>
                <li>
                    <strong>{{ "privacy-policy.Content6Section4" | transloco }}</strong><br />
                    {{ "privacy-policy.Content6Section4List" | transloco }}
                </li>
                <li>
                    <strong>{{ "privacy-policy.Content6Section5" | transloco }}</strong><br />
                    {{ "privacy-policy.Content6Section5List" | transloco }}
                </li>
            </ul>

            <h2 id="content7">{{ "privacy-policy.Content7" | transloco }}</h2>
            <p>
                {{ "privacy-policy.Content7Description0" | transloco }}
            </p>
            <p>
                {{ "privacy-policy.Content7Description1" | transloco }}
            </p>

            <h2 id="content8">{{ "privacy-policy.Content8" | transloco }}</h2>
            <p>
                {{ "privacy-policy.Content8Description0" | transloco }}
            </p>
            <ul>
                <li>
                    <strong>{{ "privacy-policy.Content8Section0" | transloco }}</strong><br />
                    {{ "privacy-policy.Content8Section0List" | transloco }}
                </li>
                <li>
                    <strong>{{ "privacy-policy.Content8Section1" | transloco }}</strong><br />
                    {{ "privacy-policy.Content8Section1List" | transloco }}
                </li>
                <li>
                    <strong>{{ "privacy-policy.Content8Section2" | transloco }}</strong><br />
                    {{ "privacy-policy.Content8Section2List" | transloco }}
                </li>
            </ul>
            <br />
            <p>
                <a href="https://datenschutz-generator.de/"
                    title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                    rel="noopener noreferrer nofollow">{{ "privacy-policy.sourceText" | transloco }}</a>
            </p>
        </div>
    </div>
</section>