<section>
    <div id="imprint">
        <div>
            <h1>{{ "imprint.headline" | transloco }}</h1>
            {{ "imprint.tmg" | transloco }}
            <br /><br />
            <p>Velizar Ganchev</p>
            <p>Schlehengrund 5</p>
            <p>59597 Erwitte</p>
            <h3>{{ "imprint.contact" | transloco }}</h3>
            <p>
                {{ "imprint.tel" | transloco }}:
                <a href="tel:01724180328">+4915901902162</a>
            </p>
            <p>
                {{ "imprint.mail" | transloco }}:
                <a href="mailto:ganchev.veli@gmail.com">info&#64;velizar-ganchev.com</a>
            </p>
            <br />
            <h2>{{ "imprint.disclaimer" | transloco }}:</h2>

            <h3>{{ "imprint.liabilityContentHeadline" | transloco }}</h3>

            <p>{{ "imprint.liabilityContentDescription" | transloco }}</p>

            <h3>{{ "imprint.liabilityLinksHeadline" | transloco }}</h3>

            <p>{{ "imprint.liabilityLinksDescription" | transloco }}</p>

            <h3>{{ "imprint.copyrightHeadline" | transloco }}</h3>

            <p>{{ "imprint.copyrightDescription" | transloco }}</p>

            <h3>{{ "imprint.dataProtectionHeadline" | transloco }}</h3>

            <p>{{ "imprint.dataProtectionDescription" | transloco }}</p>
            <br />
            <p>
                {{ "imprint.sourceText0" | transloco }}
                <a href="https://www.impressum-generator.de/" target="_blank">{{
                    "imprint.sourceLink0" | transloco
                    }}</a>
                {{ "imprint.sourceText1" | transloco }}
                <a href="https://www.kanzlei-hasselbach.de/" target="_blank">{{
                    "imprint.sourceLink1" | transloco
                    }}</a>
            </p>
        </div>
    </div>
</section>