<nav>
    <a href="#">
        <img src="../../../assets/img/logo.svg" alt="Logo">
    </a>
    <button class="responsive-nav-btn" *ngIf="showNavigation" (click)="showNav()"><ng-icon
            name="heroBars3"></ng-icon></button>
    <div class="nav-links-container">
        <a href="#about" *transloco="let t; read:'navigation'">{{t("aboutMe")}}</a>
        <a href="#skills" *transloco="let t; read:'navigation'">{{t("skills")}}</a>
        <a href="#portfolio" *transloco="let t; read:'navigation'">{{t("portfolio")}}</a>
        <app-language-selector />
    </div>
</nav>
<div class="responsive-nav-container" (click)="showNav()" [ngStyle]="{'display':( !showNavigation ? 'flex' : 'none')}">
    <div class="close-btn-container">
        <button class="close-btn" appClickStopPropagation *ngIf="!showNavigation" (click)="showNav()"><ng-icon
                name="heroXMark"></ng-icon></button>
    </div>
    <div class="nav-links-mobile-container">
        <a href="#about">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
        <app-language-selector />
    </div>
</div>