@import '../../../styles.scss';

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $dark_blue;
  @include dFlex($jc: space-between);
  padding: 37px 100px;

  >img {
    &:hover {
      cursor: pointer;
    }
  }

  .nav-links-container {
    @include dFlex($g: 29px);
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    >a {
      color: white;
      text-decoration: none;

      &:hover {
        color: #70e61c;
      }
    }
  }
}