<section>
    <div class="skills-green-shadow">
        <img src="assets/img/green-shadow2.svg" alt="">
    </div>
    <div class="left-section">
        <div class="icon-container"><img src="../../../assets/img/angular-icon.svg" alt=""></div>
        <div class="icon-container"><img src="../../../assets/img/typeScript-icon.svg" alt=""></div>
        <div class="icon-container"><img src="../../../assets/img/javaScript-icon.svg" alt=""></div>
        <div class="icon-container"><img src="../../../assets/img/html-icon.svg" alt=""></div>
        <div class="icon-container"><img src="../../../assets/img/firebase-icon.svg" alt=""></div>
        <div class="icon-container"><img src="../../../assets/img/git-icon.svg" alt=""></div>
        <div class="icon-container"><img src="../../../assets/img/css-icon.svg" alt=""></div>
        <div class="icon-container"><img src="../../../assets/img/rest-api-icon.svg" alt=""></div>
        <div class="icon-container"><img src="../../../assets/img/scrum-icon.svg" alt=""></div>
        <div class="icon-container"><img src="../../../assets/img/material-design-icon.svg" alt=""></div>
    </div>
    <div class="right-section">
        <h2>My skills</h2>
        <h4>I have gained experience in building projects with various front end technologies and concepts.</h4>
        <button>Get in touch</button>
    </div>
</section>