<footer>
    <div class="footer-container">
        <img src="../../../assets/img/logo.svg" alt="Logo">
        <p>© Velizar Ganchev 2024</p>
        <nav>
            <div class="nav-link"><img src="../../../assets/img/github-button.svg" alt=""></div>
            <div class="nav-link"><img src="../../../assets/img/email-button.svg" alt=""></div>
            <div class="nav-link"><img src="../../../assets/img/linkedin-button.svg" alt=""></div>
        </nav>
    </div>
    <div class="impresum-container">
        <p>Impressum</p>
    </div>
</footer>