<footer *transloco="let t; read:'footer'">
    <div class="footer-container">
        <a routerLink="/">
            <img src="assets/img/logo.svg" alt="Logo">
        </a>
        <p>© Velizar Ganchev 2024</p>
        <nav>
            <a href="https://github.com/velizarganchev" target="_blank" class="nav-link"><img
                    src="assets/img/github-button.svg" alt=""></a>
            <a href="mailto:ganchev.veli@gmail.com" class="nav-link"><img src="assets/img/email-button.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/velizar-ganchev-29311621b/" target="_blank" class="nav-link"><img
                    src="assets/img/linkedin-button.svg" alt=""></a>
        </nav>
    </div>
    <a routerLink="/imprint">
        <p>{{t('impr')}}</p>
    </a>
</footer>